version: 2
jobs:
 spatial:
   machine: true
   steps:
     - checkout
     - run:
           name: "Build Spatial Container"
           command: |
            docker build -f Dockerfile.spatial -t cmzambranat/spatial:4.1.0 .
     - deploy:
           name: "Push to Docker Hub"
           command: |
              if [ "${CIRCLE_BRANCH}" == "master" ]; then
                docker login -u $DOCKER_HUB_USER -p $DOCKER_HUB_PASS
                docker push cmzambranat/spatial:4.1.0
              fi
workflows:
   version: 2
   commit:
     jobs:
       - spatial